<h1>New Article</h1>

<% @article.errors.full_messages.each do |msg| %>
  <p><%= msg %></p>
<% end %>

<%= form_for @article do |f| %>
  
  Title: <%= f.text_field :title %><br />
  Body: <%= f.text_field :body %><br />
  
  Draft: <%= f.select(:draft, [['Yes', 'true'], ['No', 'false']]) %><br />
  
  <%= f.submit %>

<% end %>

<p><%= link_to("Back", articles_path) %></p>