<h1>Main Page</h1>

<p><%= link_to("Projects", class_projects_path) %></p>
<p><%= link_to("Links", links_path) %></p>
<p><%= link_to("Tags", tags_path) %></p>
<p><%= link_to("Contacts", contacts_path) %></p>
<p><%= link_to("Articles", articles_path) %></p>