<h1>New Contact</h1>

<% @contact.errors.full_messages.each do |msg| %>
  <p><%= msg %></p>
<% end %>

<%= form_for @contact do |f| %>
  
  Name: <%= f.text_field :name %><br />
  Email: <%= f.text_field :email %><br />
  Message: <%= f.text_field :message %><br />
  
  <%= f.submit %>

<% end %>

<p><%= link_to("Back", contacts_path) %></p>