<h1><%= @contact.name %></h1>


<p>Email: <%= @contact.email %></p>
<p>Message: <%= @contact.message %></p>


<p><%= link_to("Update", edit_contact_path(@contact.id)) %></p>
<p><%= link_to("Home", contacts_path) %></p>