<h1><%= @project.name %></h1>


<p>Description: <%= @project.desc %></p>

<p>URL: <%= link_to(@project.url, @project.url) %></p>

<p>Featured: <%= @project.featured %></p>

<p>Tags:</p>
<ul>
<% @project.tags.each do |t| %>
  <li><%= link_to(t.name, tag_path(t.id)) %></li>
<% end %>
</ul>

<p><%= link_to("Update", edit_class_project_path(@project.id)) %></p>
<p><%= link_to("Home", class_projects_path) %></p>