<h1><%= @project.name %></h1>


<p>Description: <%= @project.desc %></p>

<p>URL: <%= link_to(@project.url, @project.url) %></p>


<p><%= link_to("Update", edit_project_path(@project.id)) %></p>
<p><%= link_to("Home", projects_path) %></p>