<h1>New Tag</h1>

<% @tag.errors.full_messages.each do |msg| %>
  <p><%= msg %></p>
<% end %>

<%= form_for @tag do |f| %>
  
  Name: <%= f.text_field :name %><br />
  
  <%= f.submit %>

<% end %>

<p><%= link_to("Back", tags_path) %></p>